.rating-container {
    height: 70vh;
    border: solid 2px fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rating-strip {
    height: 50px;
    width: 100%;
    background: rgba(55, 48, 163, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.rating-title_menu {
    display: flex;
    gap: 15px;
}

.rating-quantily-member {
    height: 50px;
}

.container-table-rating_items {
    overflow: auto;
    height: 100%;
}


.rating-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: var(--COLOR_FONT_BLACK);
}