.rating-container {
    overflow: hidden;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rating-title_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-title-update {
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url('../../assets/img/updateRating.png');
    transition: .4s;
}

.rating-strip {
    height: 50px;
    width: 100%;
    background: var(--COLOR_BACKGROUND_ITEM);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.rating-title_menu {
    display: flex;
    gap: 15px;
}

.rating-quantily-member {
    height: 65px;
    width: 100%;
    padding-left: 5px;
}

.rating-quantily-member_text {
    color: var(--COLOR_FONT_BLACK);
    font-weight: bolder;
}

.container-table-rating_items {
    overflow: auto;
    height: 100%;
}

.rating-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: var(--COLOR_FONT_BLACK);
}

.rating-title-update:hover {
    transform: rotate(450deg);
}


@media (max-width:650px) {
    .rating-strip {
        padding: 5px 0;
        gap: 5px;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}