.basket-buy_text {
    font-weight: 600;
    font-size: 14px;
    color: var(--COLOR_FONT_BLACK);
}

.basket-buy_text_check {
    font-weight: 600;
    font-size: 14px;
}

.basket-buy_ico {
    width: 17px;
    height: 17px;
}

.basket-buy_container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.buy-button {
    margin: 5px 15%;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 10px;
    padding: 3px;
    width: 70%;
    background: var(--COLOR_FONT_BLACK);
    color: var(--BACKGROUND_BASIC);
    transition: .3s;
}

.buy-button_active {
    pointer-events: all;
}

.buy-button:hover {
    transform: scale(1.05);
    background: rgb(36, 1, 82);
}