.achievements-container {
    width: 85vw;
    height: 60vh;
}

.achievements-container_title {
    height: 40px;
    background: var(--COLOR_BACKGROUND_ITEM);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.achievements-title_text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: var(--COLOR_FONT_BLACK);
}

.achievements-container_item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    padding: 5px 10px;
    background: var(--COLOR_BACKGROUND_ITEM);
    margin-bottom: 10px;
}



.achievements-container-items {
    height: 88%;
    overflow: auto;
}