.achievements-container {
    width: 80vw;
    height: 60vh;
    border: 2px solid darkgreen;
}

.achievements-container_title {
    height: 40px;
    background: var(--COLOR_BACKGROUND_ITEM);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.achievements-title_text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: var(--COLOR_FONT_BLACK);
}

.achievements-container_item {
    border-radius: 10px;
    background: var(--COLOR_BACKGROUND_ITEM);
    height: 100px;
}