.testTask{
  padding: 25px;
  width: 60vw;
}

.testTask__title{
  font-size: 2em;
  font-weight: 700;
}

.testTask__field{
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

.testTask__fieldValue{
  flex-grow: 1;
  font-size: 1.2em;
}

.testTask__fieldName{
  width: 150px;
  font-size: 1.2em;
}

.testTask__textarea{
  padding: 5px;
  outline: none;
  resize: none;
  border-radius: 3px;
  height: 120px;
}

.testTask__btns{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.testTask__btn-approve{
  background: var(--COLOR_YELLOW);
}

.testTask__btn-reject{
  background: var(--COLOR_BLOCK)
}