.motivatorsTask-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 30px 1fr;
  gap: 14px;
}

.motivators-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.motivators-loadingItem{
  background: url('../../assets//img/loading.gif');
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-size: 100%;
}

.motivatorsCnt{
  margin-top: 40px;
}

.modal-loadingItem{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: url('../../assets//img/loading.gif');
  background-size: 100%;
}