.title-ico_totalExperience:hover .title-text_totalExperience {
    opacity: 1;
    top: -25px;
}

.title-ico_place:hover .title-text_place {
    opacity: 1;
    top: -25px;
}

.title-ico_name:hover .title-text_name {
    opacity: 1;
    top: -25px;
}

.title-ico_achievements:hover .title-text_achievements {
    opacity: 1;
    top: -25px;
}

.title-ico_approvedTasks:hover .title-text_approvedTasks {
    opacity: 1;
    top: -25px;
}

.title-ico_totalLevel:hover .title-text_totalLevel {
    opacity: 1;
    top: -25px;
}

.table-container_ico {
    position: relative;
    width: 40px;
    cursor: pointer;
    transition: .2s;
    justify-self: center;
}

.table-container_ico-text {
    position: absolute;
    font-size: 11px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    padding: 2px 3px;
    background: rgba(55, 48, 163, 0.2);
    color: var(--COLOR_FONT_BLACK);
    opacity: 0;
    transition: .4s;
    top: 0;
    left: -80px;
    pointer-events: none;
}