.testTask{
  padding: 25px;
  width: 60vw;
  color: #000
}

.testTask__title{
  font-size: 1.5em;
  font-weight: 700;
}

.testTask__field{
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

.testTask__fieldValue{
  flex-grow: 1;
}

.testTask__fieldName{
  min-width: 150px;
}

.testTask__fieldPoints{
  display: flex;
  gap: 15px;
}

.testTask__fieldValuePoints{
  width: 90px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.motivatorsTask__pointsBtn{
  background: var(--COLOR_BLOCK);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  opacity: 0.85;
}

.motivatorsTask__pointsBtn:hover{
  opacity: 1;
}

.testTask__points{
  height: 20px;
  display: flex;
  align-items: center;
}

.testTask__points-input{
  border-radius: 3px;
  border: 1px solid var(--COLOR_BORDER_MOTIVATORS_MODAL);
  outline: none;
}

.testTask__award{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.testTask__textarea{
  padding: 5px;
  outline: none;
  resize: none;
  border-radius: 3px;
  height: 120px;
  border: 1px solid var(--COLOR_BORDER_MOTIVATORS_MODAL)
}

.testTask__btns{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.testTask__btn-approve{
  background: var(--COLOR_YELLOW);
}

.testTask__btn-reject{
  background: var(--COLOR_BLOCK)
}

.testTask__error{
  color: red;
  margin-top: 10px;
}