.completeTask{
  padding: 25px;
  width: 60vw;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.completeTask__name{
  font-size: 2em;
}

.completeTask__inspector{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.completeTask__inspectorImg{
  height: 3em;
}

.completeTask__report{
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--COLOR_BLOCK_BORDER);
  text-align: start;
  margin-top: 20px;
  width: 100%;
  height: 20vh;
  resize: none;
  padding: 10px
}

.completeTask__file{
  margin-top: 20px;
}

.completeTask__btns{
  display: flex;
  gap: 20px;
}

.completeTask__btn{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 150px;
  border-radius: 3px;
}

.completeTask__btn-approve{
  background: var(--COLOR_YELLOW);
}

.completeTask__btn-cancel{
  background: var(--COLOR_BLOCK);
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 50px;
  background: var(--COLOR_BLOCK);
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
}