.table-container_item {
    max-width: 1000px;
    width: 75vw;
    height: 44px;
    background: rgba(55, 48, 163, 0.2);
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr repeat(3, 15vw);
}

.table-container_ico {
    position: relative;
    width: 40px;
    cursor: pointer;
    transition: .2s;
    justify-self: center;
}

.table-container_ico-text {
    position: absolute;
    font-size: 12px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 2px 3px;
    background: rgba(55, 48, 163, 0.2);
    color: var(--COLOR_FONT_BLACK);
    opacity: 0;
    transition: .5s;
    top: 0;
    left: -55px;
    pointer-events: none;
}


.title-ico_xp:hover .title-text_xp {
    opacity: 1;
    top: -45px;
}

.title-ico_task:hover .title-text_task {
    opacity: 1;
    top: -45px;
}

.title-ico_achi:hover .title-text_achi {
    opacity: 1;
    top: -45px;
}

.table-container_ico:hover {
    transform: scale(1.05);
}