.table-container_item {
    position: relative;
    max-width: 1200px;
    width: 77vw;
    height: 44px;
    margin-bottom: 8px;
    background: rgba(55, 48, 163, 0.2);
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr repeat(4, 11vw);
}
