.motivatorsTask {
  font-size: 16px;
  border-radius: 10px;
  background-color:  var(--COLOR_BACKGROUND_ITEM);
  padding: 10px;
}

.motivatorsTask__icon {
  width: 3em;
  height: 3em;
}

.motivatorsTask__header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.motivatorsTask__title {
  font-weight: 700;
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: 600;
}

.motivatorsTask__description {
  margin-top: 7px;
}

.motivatorsTask__deadline {
  margin-top: 7px;
}

.motivatorsTask__description .italic {
  font-style: italic;
}

.motivatorsTask__completion {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motivatorsTask__btn {
  opacity: 0.85;
}

.motivatorsTask__btn:hover {
  opacity: 1;
}

.motivatorsTask__btn--inProgress {
  background: var(--COLOR_BLUY_DEFAULT);
  color: white;
}

.motivatorsTask__btn--open {
  background: var(--COLOR_YELLOW);
}

.motivatorsTask__coinsImg {
  width: 1em;
  height: 1em;
}

.motivatorsTask__coins {
  display: flex;
  gap: 1px;
}

@media (max-width: 1200px) {
  .motivatorsTask {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .motivatorsTask {
    font-size: 12px;
  }
}