.page404-container {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.page404-img {
    width: 40%;
    outline: none;
}

.page404-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page404-content_title {
    font-size: 36px;
    color: var(--COLOR_FONT_BLACK);
    font-weight: 800;
}

.page404-content_text {
    font-size: 20px;
    color: var(--COLOR_FONT_BLACK);
}

.page404-content_button {
    text-align: center;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
    background: var(--COLOR_FONT_BLACK);
    color: var(--BACKGROUND_BASIC);
    border-radius: 10px;
    transition: .3s;
}

.page404-content_button:hover {
    transform: scale(1.05);
    background: rgb(36, 1, 82);
}

@media (max-width:850px) {

    .page404-container {
        gap: 20px;
        flex-direction: column;
    }

    .page404-img {
        width: 80%;
    }

    .page404-content {
        align-items: center;
    }
}

@media (max-width:550px) {

    .page404-content_title {
        font-size: 28px;
    }

    .page404-content_text {
        font-size: 16px;
    }
}