@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --BACKGROUND_BASIC: #f3f3f3;
    --COLOR_FONT_BLACK: #031530;
    --COLOR_BLUY_DEFAULT: #3730A3;
    --COLOR_YELLOW: #ead538
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  font-family: 'Philosopher', sans-serif;
}